<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MamieRus">
        <activity
            android:name=".presenter.ui.konsumen.CommentActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.DetailMenuActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.FavoriteMenuActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.ProfileActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.SettingsActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.AddressActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.AddressActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.AboutAppActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.AboutAppActivityP"
            android:exported="false"
            android:label="@string/about_app" />
        <activity
            android:name=".presenter.ui.pemilik.AddProfileActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.DetailMenuActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.SettingsActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.GetCommentActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.AddMenuActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.util.notify.SuccesAddNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MamieRus.NoActionBar" />
        <activity
            android:name=".presenter.ui.publik.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.publik.DetailMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.pemilik.MainActivityP"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.konsumen.MainActivityK"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.publik.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presenter.ui.auth.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presenter.ui.auth.PortalScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>