<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="d3ifcool.bisapetcah.mamierus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:screenOrientation="locked"
        android:theme="@style/Theme.MamieRus">
        <activity
            android:name=".presenter.ui.costumer.CommentActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.DetailMenuActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.ProfileActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.SettingsActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.AddressActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.AboutAppActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.WithoutActionBar" />
        <activity
            android:name=".presenter.ui.general.AddressActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.general.DetailMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.costumer.MainActivityK"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.general.AboutAppActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presenter.ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar" />
        <activity
            android:name=".presenter.ui.auth.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presenter.ui.auth.PortalScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"/>
        <activity
            android:name=".presenter.ui.general.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>