<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="d3ifcool.bisapetcah.mamierus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MamieRus">
        <activity
            android:name=".view.ui.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.DetailMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.pemilik.MainActivityP"
            android:exported="false"
            android:label="@string/title_activity_main_p"
            android:theme="@style/Theme.MamieRus.NoActionBar" />
        <activity
            android:name=".view.ui.konsumen.MainActivityK"
            android:exported="false" />
        <activity
            android:name=".view.ui.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.PortalScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WithoutActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.WithoutActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>